$backgroundColor: #f5f5f5;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $backgroundColor;
  height: 100%;

  #root {
    display: flex-box;
    flex-direction: column;
    height: 100%;
  }

  header {
    background: darken($backgroundColor, 75);
    border-bottom: 1px solid #eee;
    color: #eee;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  form {
    color: #eee;
    text-align: center;
    height: 65px x 735px;
    flex-direction: flex-start;
    justify-content: center;
  }

  results {
    color: #eee;
    background: lighten($backgroundColor, 40);
    height: 550px x 500px;
    text-align: left;
    display: inline-block;
    padding: 5%;
  }

  footer {
    background: darken($backgroundColor, 50);
    border-top: 1px solid #eee;
    padding: 1em 3em;
    margin: 0;
  }

  pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
  }

  .string {
    color: green;
  }

  .number {
    color: darkorange;
  }

  .boolean {
    color: blue;
  }

  .null {
    color: magenta;
  }

  .key {
    color: red;
  }

}